In [1]:
import pandas as pd

In [23]:
sales_df = pd.read_csv("/Users/anastasia/Downloads/custom_sales_data.csv")
customer_df = pd.read_csv("/Users/anastasia/Downloads/customer_data.csv")

print(f"Sales data: \n\n{sales_df.head()}")
print(f"\nCustomer data: \n\n{customer_df.head()}")

Sales data:

  Product_ID Product_Name         Category Subcategory         Region Country  \
0      P0001    Product 1  Office Supplies       Paper  North America  Mexico
1      P0002    Product 2        Furniture      Chairs  North America     USA
2      P0003    Product 3        Furniture    Cabinets           Asia   China
3      P0004    Product 4        Furniture      Chairs  North America  Canada
4      P0005    Product 5  Office Supplies       Paper  South America  Brazil

   Units_Sold    Revenue    Profit  Order_Date   Ship_Date  \
0         141   18330.00   1555.93  2023-02-22  2023-03-05
1         112   13888.00   2784.61  2023-10-15  2023-10-19
2         389  157486.65  35361.24  2023-06-24  2023-06-29
3          50    9295.00   1264.02  2023-05-16  2023-05-29
4         283   43485.78   9008.51  2023-07-05  2023-07-15

   Customer_Satisfaction  Discount_Applied
0                      5              0.02
1                      5              0.10
2                      2              0.05
3                      1              0.18
4                      2              0.18

Customer data:

  Customer_ID Customer_Name Customer_Segment         Region  \
0     CUST001    Customer 1      Home Office  North America
1     CUST002    Customer 2         Consumer  South America
2     CUST003    Customer 3        Corporate  South America
3     CUST004    Customer 4         Consumer           Asia
4     CUST005    Customer 5      Home Office         Europe

   Customer_Satisfaction Account_Manager
0                      1       Manager A
1                      2       Manager B
2                      2       Manager C
3                      4       Manager A
4                      4       Manager B

In [45]:
merged_df = pd.merge(sales_df, customer_df, on="Region", how="inner", suffixes=("_sales", "_customer"))
print(merged_df.head())

  Product_ID Product_Name         Category Subcategory         Region Country  \
0      P0001    Product 1  Office Supplies       Paper  North America  Mexico
1      P0001    Product 1  Office Supplies       Paper  North America  Mexico
2      P0001    Product 1  Office Supplies       Paper  North America  Mexico
3      P0001    Product 1  Office Supplies       Paper  North America  Mexico
4      P0001    Product 1  Office Supplies       Paper  North America  Mexico

   Units_Sold  Revenue   Profit  Order_Date   Ship_Date  \
0         141  18330.0  1555.93  2023-02-22  2023-03-05
1         141  18330.0  1555.93  2023-02-22  2023-03-05
2         141  18330.0  1555.93  2023-02-22  2023-03-05
3         141  18330.0  1555.93  2023-02-22  2023-03-05
4         141  18330.0  1555.93  2023-02-22  2023-03-05

   Customer_Satisfaction_sales  Discount_Applied Customer_ID Customer_Name  \
0                            5              0.02     CUST001    Customer 1
1                            5              0.02     CUST007    Customer 7
2                            5              0.02     CUST014   Customer 14
3                            5              0.02     CUST020   Customer 20
4                            5              0.02     CUST025   Customer 25

  Customer_Segment  Customer_Satisfaction_customer Account_Manager
0      Home Office                               1       Manager A
1   Small Business                               2       Manager B
2         Consumer                               3       Manager C
3         Consumer                               2       Manager A
4   Small Business                               5       Manager C

In [33]:
segment_summary = merged_df.groupby("Customer_Segment")[["Revenue", "Profit"]].mean()
print(f"\nAverage Revenue and Profit by Segment:\n {segment_summary}")

Average Revenue and Profit by Segment:
                        Revenue        Profit
Customer_Segment
Consumer          65548.594485  11132.820274
Corporate         65253.963889  11170.971775
Home Office       65554.255827  11334.389278
Small Business    65455.030442  11289.352874

In [47]:
satisfaction_by_region = merged_df.groupby("Region")["Customer_Satisfaction_customer"].mean()
print(f"Regional Customer Satisfaction: \n {satisfaction_by_region}")

Regional Customer Satisfaction:
 Region
Africa           3.380952
Asia             2.666667
Europe           3.400000
North America    3.000000
South America    2.375000
Name: Customer_Satisfaction_customer, dtype: float64

In [59]:
print(merged_df.columns)

Index(['Product_ID', 'Product_Name', 'Category', 'Subcategory', 'Region',
       'Country', 'Units_Sold', 'Revenue', 'Profit', 'Order_Date', 'Ship_Date',
       'Customer_Satisfaction_sales', 'Discount_Applied', 'Customer_ID',
       'Customer_Name', 'Customer_Segment', 'Customer_Satisfaction_customer',
       'Account_Manager'],
      dtype='object')

In [61]:
top_customers = merged_df.groupby("Customer_Name")["Profit"].sum().nlargest(5)
print(f"Top 5 Most Profitable Customers:\n{top_customers}")

Top 5 Most Profitable Customers:
Customer_Name
Customer 10     2526455.27
Customer 100    2526455.27
Customer 11     2526455.27
Customer 15     2526455.27
Customer 16     2526455.27
Name: Profit, dtype: float64

In [75]:
profit_by_customer = merged_df.groupby("Customer_Name")["Profit"].sum().sort_values(ascending=False)
print(profit_by_customer.head())

Customer_Name
Customer 99    2526455.27
Customer 87    2526455.27
Customer 10    2526455.27
Customer 51    2526455.27
Customer 64    2526455.27
Name: Profit, dtype: float64